:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(2, 2, 2, 0.87);
  background-color: #e9e9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";
h1,
h2,
h3,
.normal {
  font-family: "Playfair Display", serif;
}

.logo,
.hero-title {
  font-family: "Great Vibes", cursive;
}

body,
p,
input,
button,
.lato {
  font-family: "Lato", sans-serif;
}
